<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Home Page</title>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="http://www.uventure.in/">UVenture</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://www.uventure.in/about_us.php">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://www.uventure.in/contact_us.php">Contact us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          login
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="admin">Admin login</a>
          <a class="dropdown-item" href="#">User login</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<section class="mbr-section mbr-section-md-padding mbr-footer footer1" id="contacts1-f" style="background-color: rgb(252, 251, 250); padding-top: 90px; padding-bottom: 90px;">

    <div class="container">
        <div class="row">
            <div class="mbr-footer-content col-xs-12 col-md-3">
                <div><a href="/" class=""><img src="" alt="uventurelogo.png" title="UVenture" class=""></a></div>
            </div>
            <div class="mbr-footer-content col-xs-12 col-md-3">
                <p class=""><strong>Address</strong><br>India<br>69/6A, FF, Najafgarh Road Ind. Area<br>New Delhi, 110015<br><br><span style="font-size: 0.875rem; line-height: 1.5;">US</span><span style="font-size: 0.875rem; line-height: 1.5;"><br></span>7300 W 110th St,<br>Suite 700, <br>Overland Park, <br>KS 66210<br>Phone: 1 856 741 0144<br></p>
            </div>
            <div class="mbr-footer-content col-xs-12 col-md-3">
                <p class=""><strong>Contacts</strong><br>
Email: admin at uventure dot in<br>
Phone: +91 (11) 435 737 14<br>
Mob: +91 989 986 0544<br>Mob: +91 955 571 2020<br></p>
            </div>
            <div class="mbr-footer-content col-xs-12 col-md-3">
                <p class=""></p><p class=""><strong>Links</strong><br>
<a href="about_us.php" class="">About Us</a><a class="text-primary" href="https://mobirise.com/"></a><br>
<a href="contact_us.php" class="">Contact Us</a><a class="text-primary" href="https://mobirise.com/mobirise-free-win.zip"></a><br>
<a href="http://toast.uventure.in/crm.php" target="_blank" class="">toast CRM</a><br>
<a href="http://toast.uventure.in/epm.php" target="_blank" class="">toast EPM</a><br>
<a href="http://toast.uventure.in/ppm.php" target="_blank" class="">toast PPM</a><br>
<a href="http://toast.uventure.in" target="_blank" class="">toast PSA</a></p><p class=""></p>
            </div>

        </div>
    </div>
</section>
    <footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-d" style="background-color: rgb(50, 50, 50); padding-top: 1.75rem; padding-bottom: 1.75rem;">

    <div class="container">
        <p style="text-align:center; color:white">Copyright (c) 2016 UVenture Business Solutions</p>
    </div>
</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>